<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyectohmbmodel"
        tools:targetApi="31">
        <activity
            android:name=".DetalleSuscripcionActivity"
            android:exported="false" />
        <activity
            android:name=".MisSuscripcionesGym"
            android:exported="false" />
        <activity
            android:name=".FormularioCrearGimnasios"
            android:exported="false"
            android:theme="@style/Theme.Proyectohmbmodel" />
        <activity
            android:name=".MisGimnasios"
            android:exported="false" />
        <activity
            android:name=".FormularioSuscribirGimnasio"
            android:exported="false" />
        <activity
            android:name=".MiCuenta"
            android:exported="false" />
        <activity
            android:name=".FormularioIniciarSesion"
            android:exported="false" />
        <activity
            android:name=".HomeUsuario"
            android:exported="false" />
        <activity
            android:name=".FormularioCreacionUsuario"
            android:exported="false" />
        <activity
            android:name=".PantallaInicial"
            android:exported="false" />
        <activity android:name=".AdministrarGimnasiosUsuarios" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>